.git*
.prettier*
.vscode/

cypress*
test/

build/

src/share/browser.js
src/storage/browser.js
src/render.js

favicon.ico
icon*
images/
index.css
index.html
manifest.json
vendor/

screenshot.gif
scripts/

state.json
preferences.json
