/* Variables */

:root {
    --standard-color: #aaa;
    --standard-block-color: #000;
    --correct-color: green;
    --within-color: #eec039;
    --incorrect-color: #333;
}

/* Main Content */

html {
    font-size: 125%;
}

body {
    background-color: black;
    margin: 0;
    overflow: hidden;
}

svg {
    color: white;
}

.top-menu {
    background-color: black;
    border-bottom: 1px solid var(--standard-color);
    padding: 1rem;
    font-size: 1rem;
    font-family: sans-serif;
    text-transform: uppercase;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 64px;
    box-sizing: border-box;
}

.wordle-rows {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.keyboard-view {
    display: flex;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
    height: max-content;
}

.game-wrapper {
    position: relative;
    left: 50%;
    width: 50vw;
    height: 100%;
    transform: translateX(-50%);
}

.input-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 16.67%;
    max-height: 3rem;
}

.game > .space {
    flex: 1;
}

@media (max-width: 1028px) {
    .game-wrapper {
        width: 100%;
    }
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: calc(100% - 64px);
    width: 100%;
    transform-origin: top;
}

/* Overlay Backdrop */

.overlay-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

/* Dialog Window */

.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    right: 0;
    bottom: 0;
    transform: translate(-50%, -50%);

    background-color: rgb(22, 22, 22);
    color: white;
    border: 1px solid black;
    width: 300px;
    height: 300px;

    opacity: 1;

    transition: top 0.5s, opacity 0.5s;
}

.dialog > div.dialog-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dialog button {
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.dialog button > span {
    margin-left: 8px;
    color: white;
}

.dialog button.close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.dialog button.share-button {
    background-color: green;
}

/* Notification */

.notification {
    position: fixed;
    top: 5%;
    left: 50%;
    right: 0;
    bottom: 0;
    transform: translate(-50%, 0);

    background-color: lightgrey;
    border: 1px solid black;
    width: 300px;
    height: 150px;

    opacity: 1;

    transition: top 0.5s, opacity 0.5s;
}

.notification > div.notification-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Error Content */

span.error-text {
    margin: 1em;
}

/* Text Content */

a {
    color: white;
}

/* Boxes */

.box {
    padding: 1em;
    margin: 0.1em;
    border: 1px solid black;
    line-height: 1.9em;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-height: 2.75em;
    aspect-ratio: 1/1;
    width: 100%;
    max-width: 2.75em;
}

.box .box-letter {
    display: block;
    position: absolute;
    line-height: normal;
    font-size: 2rem;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
    color: white;
}

/* Keyboard */

.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.keyboard > .keyboard-row {
    display: flex;
    justify-content: center;
    width: 100%;
}

.keyboard > .keyboard-row > .keyboard-item {
    position: relative;
    padding: 1em 0.5em;
    margin: 0.1em;
    border: 1px solid black;
    border-radius: 0.25em;
    width: 5%;
    height: 1em;
    line-height: 1em;
    color: white;
    text-align: center;
}

.keyboard > .keyboard-row > .keyboard-item.big {
    width: 10%;
}

@media (max-width: 600px) {
    .keyboard > .keyboard-row > .keyboard-item {
        width: 0.4em;
    }

    .keyboard > .keyboard-row > .keyboard-item.big {
        width: 2.1em;
    }
}

@media (max-width: 320px) {
    .keyboard > .keyboard-row > .keyboard-item {
        width: 0.2em;
        height: 0.5em;
        line-height: 0.5em;
    }

    .keyboard > .keyboard-row > .keyboard-item.big {
        width: 1.6em;
    }
}

.keyboard > .keyboard-row > .keyboard-item > div {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    font-size: 0.75em;
    font-weight: bold;
    font-family: sans-serif;
    pointer-events: none;
}

.keyboard > .keyboard-row > .keyboard-item.big > div {
    font-size: 0.65em;
}

/* Colours */

.standard {
    background-color: var(--standard-color);
}

.box {
    background-color: var(--standard-block-color);
    border: 1px solid var(--standard-color);
}

.correct {
    background-color: var(--correct-color);
}

.within {
    background-color: var(--within-color);
}

.incorrect {
    background-color: var(--incorrect-color);
}
