/* Variables */

:root {
    --green: green;
    --yellow: #eec039;
    --orange: #f5793a;
    --blue: #85c0f9;
    --black: #000;
    --white: #fff;
    --gray-1: rgb(22, 22, 22);
    --gray-2: #333;
    --gray-3: #737373;
    --gray-4: grey;
    --gray-5: #aaa;
    --gray-6: rgb(202, 202, 202);

    --standard-color: var(--gray-5);
    --standard-block-color: var(--black);
    --correct-color: var(--green);
    --within-color: var(--yellow);
    --incorrect-color: var(--gray-2);
    --pressed-color: var(--gray-4);
    --held-color: var(--gray-6);

    --settings-item-border-color: 1px solid var(--gray-4);

    --background-color: var(--black);
    --fallback-background-color: var(--background-color);
    --item-background-color: rgba(0, 0, 0, 0);
    --dialog-background-color: var(--gray-1);

    --text-color: var(--white);
    --letter-text-color: var(--white);
    --letter-selected-text-color: var(--white);
}

.light {
    --standard-color: var(--gray-5);
    --standard-block-color: var(--white);
    --correct-color: var(--green);
    --within-color: var(--yellow);
    --incorrect-color: var(--gray-3);

    --background-color: var(--white);
    --dialog-background-color: var(--gray-6);

    --text-color: var(--black);
    --letter-text-color: var(--black);
    --letter-selected-text-color: var(--white);
}

.snow {
    --background-color: linear-gradient(180deg, rgba(2, 0, 36, 1) 40%, rgba(9, 9, 121, 1) 100%);
    --fallback-background-color: rgb(2, 0, 36);
    --item-background-color: rgba(0, 0, 0, 0);

    --standard-block-color: rgba(0, 0, 0, 0);
}

.high-contrast {
    --correct-color: var(--orange);
    --within-color: var(--blue);
}

/* Main Content */

html {
    font-size: 125%;
    font-family: sans-serif;
}

body {
    background: var(--fallback-background-color);
    background: var(--background-color);
    margin: 0;
    overflow: hidden;
}

svg {
    color: var(--text-color);
}

.top-menu {
    position: relative;
    background-color: var(--item-background-color);
    border-bottom: 1px solid var(--standard-color);
    padding: 1rem;
    font-size: 1rem;
    font-family: sans-serif;
    text-transform: uppercase;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    height: 64px;
    box-sizing: border-box;
}

.top-menu > .icon-bar {
    position: absolute;
    right: 20px;
}

.top-menu > .icon-bar > a.link-icon {
    text-decoration: none;
    margin-right: 4px;
}

.top-menu > .icon-bar > a.link-icon:last-child {
    margin-right: 0;
}

.wordle-rows {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.keyboard-view {
    display: flex;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
    height: max-content;
}

.game-wrapper {
    position: relative;
    left: 50%;
    width: 50vw;
    height: 100%;
    transform: translateX(-50%);
}

.input-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 16.67%;
    max-height: 3rem;
}

.pane > .space {
    flex: 1;
}

@media (max-width: 1028px) {
    .game-wrapper {
        width: 100%;
    }
}

.pane {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: calc(100% - 64px);
    width: 100%;
    transform-origin: top;
}

.pane h1,
h2,
h3,
h4,
h5 {
    color: var(--text-color);
}

.pane > .footer {
    color: var(--text-color);
    text-align: center;
}

button {
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

button.close {
    z-index: 1;
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgba(0, 0, 0, 0);
    color: var(--text-color);
}

/* Settings */

.settings {
    position: relative;
}

.settings > button.close {
    position: absolute;
    top: 0;
    right: 0;
}

.settings > .settings-item-group {
    width: 100%;
}

.settings .settings-item {
    color: var(--text-color);
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    border-top: var(--settings-item-border-color);
    border-bottom: none;
    height: 2em;
}

.settings .settings-item:last-child {
    border-bottom: var(--settings-item-border-color);
}

.settings .settings-item > * {
    pointer-events: none;
}

.settings .settings-item .settings-item-column {
    width: 100%;
    display: flex;
    justify-content: center;
}

.settings .settings-item .settings-item-column:last-child {
    width: 60%;
}

.settings .settings-item .settings-item-column > .toggle {
    text-transform: capitalize;
}

/* Overlay Backdrop */

.overlay-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

/* Dialog Window */

.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    right: 0;
    bottom: 0;
    transform: translate(-50%, -50%);

    background-color: var(--dialog-background-color);
    color: var(--text-color);
    border: 1px solid black;
    width: 300px;
    height: auto;

    opacity: 1;

    transition: top 0.5s, opacity 0.5s;
}

.dialog > div.dialog-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 2rem;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
}

.dialog button > span {
    margin-left: 8px;
    color: var(--text-color);
}

.dialog button.close {
    position: absolute;
    top: 0;
    right: 0;
}

/* Specific Dialogs */

.dialog button.share-button {
    background-color: var(--correct-color);
}

.dialog button.share-button > * {
    color: var(--letter-selected-text-color);
}

.dialog > .dialog-content > .how-to-play {
    height: 100%;
    top: -20px;
    position: relative;
}

.dialog > .dialog-content > .how-to-play > h2 {
    text-transform: uppercase;
}

.dialog > .dialog-content > .how-to-play div.sample {
    display: flex;
}

.dialog > .dialog-content > .how-to-play > div.meaning > span.text {
    font-size: 0.75em;
}

/* Notification */

.notification {
    position: fixed;
    top: 5%;
    left: 50%;
    right: 0;
    bottom: 0;
    transform: translate(-50%, 0);

    background-color: lightgrey;
    border: 1px solid black;
    width: 300px;
    height: 150px;

    opacity: 1;

    transition: top 0.5s, opacity 0.5s;
}

.notification > div.notification-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Landscape Overlay */

#landscape-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--background-color);
    text-align: center;
    font-size: 24px;
    color: var(--text-color);
    z-index: 9999;
}

#landscape-overlay > .overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#landscape-overlay > .overlay-content > img {
    height: 100px;
}

/* Error Content */

span.error-text {
    margin: 1em;
}

/* Text Content */

a {
    color: var(--text-color);
}

/* Boxes */

.box {
    padding: 1em;
    margin: 0.1em;
    border: 1px solid black;
    line-height: 1.9em;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-height: 2.75em;
    aspect-ratio: 1/1;
    width: 100%;
    max-width: 2.75em;
}

.box .box-letter {
    display: block;
    position: absolute;
    line-height: normal;
    font-size: 2rem;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
    color: var(--letter-text-color);
}

/* Keyboard */

.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.keyboard > .keyboard-row {
    display: flex;
    justify-content: center;
    width: 100%;
}

.keyboard > .keyboard-row > .keyboard-item {
    position: relative;
    padding: 1em 0.5em;
    margin: 0.1em;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 0.25em;
    width: 5%;
    height: 1em;
    line-height: 1em;
    color: var(--letter-text-color);
    text-align: center;
}

.keyboard > .keyboard-row > .keyboard-item.big {
    width: 10%;
}

@media (max-width: 600px) {
    .keyboard > .keyboard-row > .keyboard-item {
        width: 0.4em;
    }

    .keyboard > .keyboard-row > .keyboard-item.big {
        width: 2.1em;
    }
}

@media (max-width: 320px) {
    .keyboard > .keyboard-row > .keyboard-item {
        width: 0.2em;
        height: 0.5em;
        line-height: 0.5em;
    }

    .keyboard > .keyboard-row > .keyboard-item.big {
        width: 1.6em;
    }
}

.keyboard > .keyboard-row > .keyboard-item > div {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    font-size: 0.75em;
    font-weight: bold;
    font-family: sans-serif;
    pointer-events: none;
}

.keyboard > .keyboard-row > .keyboard-item.big > div {
    font-size: 0.65em;
}

/* Colours */

.standard {
    background-color: var(--standard-color);
}

.box {
    background-color: var(--standard-block-color);
    border: 1px solid var(--standard-color);
}

.correct {
    background-color: var(--correct-color);
}

.within {
    background-color: var(--within-color);
}

.incorrect {
    background-color: var(--incorrect-color);
}

.pressed {
    background-color: var(--pressed-color);
}

.held {
    background-color: var(--held-color);
}

.correct > .box-letter,
.within > .box-letter,
.incorrect > .box-letter,
.keyboard > .keyboard-row > .correct.keyboard-item,
.keyboard > .keyboard-row > .within.keyboard-item,
.keyboard > .keyboard-row > .incorrect.keyboard-item {
    color: var(--letter-selected-text-color);
    user-select: none;
    -webkit-user-select: none;
}

/* Special */

.embedim-snow {
    pointer-events: none;
}

body.landscape .embedim-snow {
    display: none;
}

body .footer > .snow-theme-credits {
    opacity: 0;
    pointer-events: none;
}

body.snow .footer > .snow-theme-credits {
    opacity: 1;
    pointer-events: initial;
}
