name: Deploy to Cloudflare Pages

on: [push]

jobs:
  build-and-deploy:
    runs-on: ubuntu-24.04

    steps:
    # Checkout the code
    - name: Checkout Code
      uses: actions/checkout@v5

    # Install ImageMagick
    - name: Install Ghostscript
      run: sudo apt-get update && sudo apt-get install -y ghostscript
    - name: Set up ImageMagick
      uses: mfinelli/setup-imagemagick@v5
      with:
        cache: true

    # Build and process files
    - name: Install pnpm
      uses: pnpm/action-setup@v4
      with:
        version: 10.20.0+sha512.cf9998222162dd85864d0a8102e7892e7ba4ceadebbf5a31f9c2fce48dfce317a9c53b9f6464d1ef9042cba2e02ae02a9f7c143a2b438cd93c91840f0192b9dd
    - name: Set up Node.js
      uses: actions/setup-node@v6
      with:
        node-version: 20
        cache: "pnpm"
    - name: Install dependencies
      run: pnpm install
    - name: Regenerate word list for dev build
      run: ./scripts/gen_word_list.sh
    - name: Build
      run: pnpm run build -- DEV

    # Deploy to Cloudflare Pages
    - name: Publish to Cloudflare Pages
      uses: cloudflare/wrangler-action@v3
      with:
        command: pages deploy ./build --project-name wordle-clone
        apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
        accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
        gitHubToken: ${{ secrets.GITHUB_TOKEN }}
